html,
body {
  display: inline-block;
  text-align: center;
  padding-top: 75px;
}

.buttons-li li:not(:last-child) {
  padding-right: 115px;
}
.buttons-li li {
  display: inline;
  padding-left: 0;
}
.result p {
  border-style: solid;
  border-color: blue;
  border-width: 1px;
}
.buttons-li li button {
  width: 35px;
  height: 35px;
}
