#board{
  width: 100%;
  background-color: lightblue;
}

#panel{
  width: 100%;
  margin: 4px;
  padding: 4px;
}

span {
  width: 90%;
  display: inline-block;
  border: black 1px solid;
  margin: 4px;
  padding: 4px;
}
#board-head {
  width: 30%;
  background-color: lightgrey;
  border: black 1px solid;
  font-weight: bold;
  text-align: center;
  float: left;
  height: 20px;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  margin: 0 10px;
}
#todo {
  width: 30%;
  background-color: rgb(252, 231, 231);
  border: black 1px solid;
  border-top: red 5px solid;
  float: left;
  height: 600px;
  border-top-left-radius: 2px;
  border-top-right-radius: 50px;
  margin: 0 10px;
}
#inprogress {
  width: 30%;
  background-color: lightcyan;
  border: black 1px solid;
  border-top: green 5px solid;
  float: left;
  height: 600px;
  border-top-left-radius: 2px;
  border-top-right-radius: 50px;
  margin: 0 10px;
}
#done {
  width: 30%;
  background-color: lightyellow;
  border: black 1px solid;
  border-top: yellow 5px solid;
  float: left;
  height: 600px;
  border-top-left-radius: 2px;
  border-top-right-radius: 50px;
  margin: 0 10px;
}

.button {
  background-color: blue;
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  font-size: 16px;
  margin: 4px 2px;
  opacity: 0.6;
  transition: 0.3s;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
}