body {
  font-family: "Caveat", cursive;
  background-color: #deeff2;
}
#board {
  width: 100%;
}
#panel {
  margin-left: 32px;
}
#add, #getTodoFromServer {
  font-family: "Caveat", cursive;
  font-size: 20px;
  border-radius: 50%;
  border: 2px solid #b3b3b3;
  background-color: white;
  padding: 10px;
  font-size: 20px;
  font-weight: bold;
}
span {
  width: 90%;
  display: inline-block;
  border: 1px solid #b3b3b3;
  border-radius: 20px;
  margin: 6px;
  line-height: 100%;
  background-color: #ffffff;
  padding-left: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 25px;
}
span::first-letter {
  text-transform: uppercase;
  font-weight: bold;
}
#todo {
  width: 31%;
  border: black 3px solid;
  border-top: #eb6b87 5px solid;
  border-bottom: #eb6b87 5px solid;
  float: left;
  min-height: 65vh;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  margin: 0 10px;
  margin-left: 32px;
}
#inprogress {
  width: 31%;
  border: black 3px solid;
  border-top: #ffb53b 5px solid;
  border-bottom: #ffb53b 5px solid;
  float: left;
  min-height: 65vh;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  margin: 0 10px;
}
#done {
  width: 31%;
  border: black 3px solid;
  border-top: #49a97e 5px solid;
  border-bottom: #49a97e 5px solid;
  float: left;
  min-height: 65vh;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  margin: 0 10px;
}
#titles div {
  display: inline-block;
  width: 30%;
  text-align: center;
  margin: 10px 10px;
  margin-left: 32px;
  font-size: 50px;
  font-weight: bold;
}
#new-todo {
  font-family: "Caveat", cursive;
  width: 300px;
  font-size: 25px;
  border-radius: 10px;
  border: 2px solid #b3b3b3;
}
