body{
    width: 80px;
    margin: 0 auto;
}
button {
    width: 50%;
}
input {
    width: 80px;
    margin: 0 auto;
    padding: 0;
}
div{
    display: inline-block;
    padding: 4px;
    border: 1px solid #000;
    border-radius: 4px;
    background:grey;
}
textarea {
    width: 82px;
    height: 20px;
    padding: 0;
}
#clear {
    width: 84px;
}
