header {
    width: 100%;
    background-color: #1e619a;
    padding: 25px 0;
    position: relative;
    z-index: 100;
    min-width: 700px;
    width: 100%;
}

section, footer {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 1rem;
    color: #282828;
}

.content-cover {
    width: 100%;
    max-width: 1024px;
    min-width: 700px;
    margin: 0 auto;
    padding: 0 20px;
    box-sizing: border-box;
    position: relative;
}

.logo {
    font-family: 'Baloo Chettan', cursive;
    color: #fff;
    font-size: 1.7rem;
}

.sub-header {
    width: 100%;
    background-color: #eaeaea;
    padding: 10px 0;
    position: relative;
    min-width: 700px;
    width: 100%;
}

.sub-header button {
    border: none;
    background-color: #1e619a;
    border-radius: 3px;
    padding: 5px 10px;
    color: #fff;
    font-size: .8rem;
    cursor: pointer;
}

.sub-header button:hover {
    background-color: #195486;
}

.form-cover {
    position: absolute;
    top: -66px;
    left: 17px;
    padding: 10px 3px 8px;
    box-sizing: border-box;
    background-color: #eaeaea;
    width: 80%;
    transition: all .5s ease-out;
}

.form-cover.active {
    transform: translateY(54px);
}

.form-cover input {
    border-radius: 3px;
    border: 1px solid #ddd;
    padding: 5px 10px;
    font-size: .8rem;
    line-height: 1rem;
}

.form-cover #user {
    width: 25%;
}

.form-cover #description {
    width: 45%;
}

.board-content {
    padding: 30px 0;
    min-width: 700px;
    width: 100%;
}

.board-content .task-column {
    width: 31%;
    border: 1px solid #ddd;
    float: left;
    margin: 0 1%;
    min-height: 83px;
    border-radius: 5px;
    padding-bottom: 10px;
    background-color: #fdfdfd;
}

.board-content .column-header {
    padding: 3px;
    text-align: center;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

.board-content .column-header h3 {
    font-size: 1.2rem;
    font-weight: 400;
    margin: 10px 0;
}

.task-column .task-block {
    display: inline-block;
    width: 92%;
    box-sizing: border-box;
    border-top: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    border-radius: 3px;
    line-height: 1.3rem;
    margin: 10px 4% 5px;
    padding: 5px 20px 5px 5px;
    position: relative;
    background-color: #fff;
}

.task-column .task-block button {
    position: absolute;
    top: 5px;
    right: 5px;
    background-color: transparent;
    border: none;
    width: 10px;
    height: 12px; 
    opacity: 0;
    background-image: url('./images/close.png');
    background-size: cover;
    transition: opacity .2s linear;
    cursor: pointer;
}

.task-column .task-block:hover button {
    opacity: 1;
}

#todo .task-block {
    border-left: 5px solid #1ba86e;
}

#inprogress .task-block {
    border-left: 5px solid #ffb329;
}

#done .task-block {
    border-left: 5px solid #2aabdf;
}

.todo-column {
    background-color: #1ba86e;
}

.in-progress-column {
    background-color: #ffb329;
}

.done-column {
    background-color: #2aabdf;
}
