body{
    padding: 15px;
}

#board {
  width: 100%;
  background-color: lightblue;
  margin-top: 15px;
}

span {
  width: 98%;
  display: inline-block;
  border: black 1px solid;
  margin-left: 5px;
  margin-bottom: 5px;
  padding: 4px;
}

#todo {
  display: flex;
  flex-direction: column;
  width: 100%;
  border: black 1px solid;
  border-top: red 5px solid;
  height: 600px;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  margin: 0 10px;
  padding-top: 10px;
}
#inprogress {
  display: flex;
  flex-direction: column;
  width: 100%;
  border: black 1px solid;
  border-top: green 5px solid;
  height: 600px;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  margin: 0 10px;
  padding-top: 10px;
}
#done {
  display: flex;
  flex-direction: column;
  width: 100%;
  border: black 1px solid;
  border-top: yellow 5px solid;
  height: 600px;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  margin: 0 10px;
  padding-top: 10px;
}
